{% import 'include/macros.twig' as macros %}
{% autoescape false %}
{% block content %}
## Table of contents

{% for namespace in project.indexes.namespaces | sort((a,b) => a.FullyQualifiedStructuralElementName <=> b.FullyQualifiedStructuralElementName) %}
    {%~ for class in namespace.classes %}
        {%- set link = '- [' ~ class ~ '](#class-' ~ macros.anchorId(class) ~ ')' -%}
        {{~ link ~}}
    {%~ endfor ~%}
{%- endfor %}



{% for namespace in project.indexes.namespaces | sort((a,b) => a.FullyQualifiedStructuralElementName <=> b.FullyQualifiedStructuralElementName) %}
    {%~ for class in namespace.classes %}

        {{~ '<hr /><a id="class-' ~ macros.anchorId(class) ~ '"></a>' }}
        {{~ '### Class: ' ~ class ~}}

        {{~ '> Class ' ~ class.name }}
        {%~ if class.summary is not empty and class.summary != ('Class ' ~ class.name) -%}
            <br/> {{ macros.mdEsc(class.summary) | replace({'\n': ' '}) | raw -}}
        {% endif ~%}
        {%~ if class.description is not empty -%}
            <br/> {{ macros.mdEsc(class.description) | replace({'\n': ' '}) | raw -}}
        {% endif %}

        {% set allMethods = class.methods %}
        {%~ for trait in class.usedTraits -%}
            {% if trait.methods.count > 0 %}
            {% set allMethods = allMethods.merge(trait.methods) %}
            {% endif %}
        {% endfor %}

        {{~ "| Visibility | Function |" }}
        {{~ "|:-----------|:---------|" }}
        {%~ for method in allMethods | sort((a,b) => a.name <=> b.name) -%}
            {% if loop.index0 > 0 %}{{ '\n' }}{% endif %}{% include 'method.md.twig' %}
        {% endfor %}

        {% set parent = class.parent %}
        {% if parent is not null %}
            {% set link = '[' ~ parent ~ '](#class-' ~ macros.anchorId(parent) ~ ')' %}

            {{~ '<em>This class extends ' ~ link  ~ '</em>' }}
        {% endif %}

        {% set interfaces = class.getInterfacesIncludingInherited() %}
        {%~ if interfaces.count > 0 ~%}
            {{~ '<em>This class implements: ' -}}
            {%- for interface in interfaces -%}
                {%- if loop.index0 > 0 %}{{- ', ' -}}{%- endif -%}
                {{- interface -}}
            {%~ endfor ~%}
            {{- '</em>' }}
        {%~ endif ~%}

    {% endfor %}
{%- endfor %}

{% endblock %}
{% endautoescape %}